name: push container (master branch)

on:
  push:
    branches: master
  schedule:
    - cron: "30 9 * * 2,5"
  workflow_dispatch:
    inputs:
        src_ref:
          description: "The branch/tag for which the dispatch is sent from dreambbs project"
          required: true
          default: "refs/heads/master"
        src_sha:
          description: "The commit SHA for which the dispatch is sent from dreambbs project"
          required: true
          default: ""

jobs:
  main:
    if: "!contains(github.event.head_commit.message, 'skip-ci')"
    runs-on: ubuntu-20.04
    steps:
      -
        name: Get current date
        id: date
        run: echo "::set-output name=date::$(date +'%Y%m%d')"
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: bbsdocker/imagedreambbs:latest,bbsdocker/imagedreambbs:${{ steps.date.outputs.date }}

      -
        name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
      -
        name : Add Notification in bbs-dev in CCNS Discord
        uses: sarisia/actions-status-discord@v1
        if: always()
        with:
          webhook: ${{ secrets.DISCORD_WEBHOOK }}
